h6 {
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

body {
    height: 100vh;
}

  .mb-3 {
    text-decoration-color: blueviolet;
  }

footer {
    margin-top: 20px;
}
