.logo {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: var;
    top: 40%;
  }
  
  header {
    height: 60px;
  }
  
  body {
    height: 100vh;
}

  main {
    height: calc(100vh - 100px);
    background-color: rgb(194, 53, 81);
  }
  
  main {
    overflow-y: auto;
  }

  h1 {
    text-align: center;
    position: relative;
    height: var;
    top: 40%;
    color:rgb(255, 255, 255);
  }

  p {
    text-align: center;
    position: relative;
    height: var;
    top: 40%;
    color: white;
  }
  
  h6 {
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

body {
    width: 100vw;
}
