.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .card {
    width: 500px;
  }
  
  .card-text {
    text-align: justify;
  }